.version {
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

.container {
  background: #fff;
  padding: 5px 20px 0px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 350px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h2 {
  font-weight: 500;
  font-size: 17px;
}

.header > h2 > span {
  color: #087ea4;
  font-weight: 600;
  font-size: 22px;
}

.header > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.selectContainer > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

input,
select,
button {
  width: 100%;
  display: block;
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
}

.selectContainer > input {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

button {
  background-color: #087ea4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #065b78;
}

.tab {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
  border: 1px solid #087ea4;
  border-radius: 9px;
  margin-bottom: 20px;
}

.backupTab {
  height: 100%;
  width: 50%;
  padding: 0px 10px;
  border-radius: 9px;
  cursor: pointer;
}

.selectedTab {
  background-color: #087ea4;
  color: #fff;
  border-radius: 9px;
}

.fileTab {
  height: 100%;
  width: 50%;
  padding: 0px 10px;
  cursor: pointer;
}

.removeContent {
  display: none;
}

.showContent {
  display: flex;
  flex-direction: column;
}
